/* ////////////////// HEADER ///////////////////// */

header {
    background-color: #422040;
    position: fixed;
    display: block;
    top: 0;
    width: 100%;
    z-index: 9;
    padding: 10px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* ////////////////// LOADER ///////////////////// */

.loader {
    position: absolute;
    background-color: #422040;
    width: 100%;
    height: 100%;
    z-index: 10000001;
    overflow: hidden;
}

.hide {
    display: none;
}

/* @keyframes slide-up {
    0% { transform: translateY(0);}
    100% { transform: translateY(1000);}
 }

/* ////////////////// GLOBAL NAV ///////////////////// */

.gn {
    display: flex;
    flex-direction: row;
}

.gn ul {
    list-style-type: none;
}

.gn li a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Hind Guntur', sans-serif;
    font-weight: 600;
    font-size: 10px;
    padding: 10px;
}

/* ////////////////// TYPOGRAPHY ///////////////////// */

h1 {
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 15px;
}

h2 {
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 80px; 
}

h3 {
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
}

h4 {
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin: 10px;
}

h5 {
    color: #422040;
    font-family: 'Biryani', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin: 15px;
}

th {
    text-align: left;
}

p {
    color: #422040;
    font-family: 'Hind Guntur', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 10px;
    line-height: 1.25;
}

.reg-txt {
    margin: 20px 0 0 0;
}

.quote {
    margin: 5px 0 0 0;
}

code {
    margin: 10px;  
    padding: 10px;
    background-color: #ffffff;
    color: #000;
}

.is-red {
    color: crimson;
}

/* ////////////////// FULLPAGE.JS ///////////////////// */

.slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-head {
    width: 100%;
    margin-bottom: 15px;
}

.section .slide .content-wrapper {
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin-top: 80px;
}

.section-1 {
    background-color:#bcd8c1;
}

.section-1 .slide-1 {
    background-image: url(../images/AdobeStock_388938359.jpeg);
    background-size: cover;
    background-position: center;
}

.section-2 .slide-1 {
    background-image: url(../images/AdobeStock_440085515.jpeg);
    background-size: cover;
    background-position: center;
}

.section-3 .slide-1 {
    background-image: url(../images/AdobeStock_394150143.jpeg);
    background-size: cover;
    background-position: center;
}

.section .slide h2 {
    text-shadow: 4px 4px 5px #422040;
}

.section .slide h3 {
    text-shadow: 3px 3px 4px #422040;
}

.section .slide h4 {
    text-shadow: 2px 2px 3px #422040;
}

.section-2 {
    background-color: #e57a44;
    
}

.section-3 {
    background-color:#e3d985;
}

.section {
    align-items: center;
}

/* ////////////////// DOM OBJECTS ///////////////////// */

.two-col {
    display: flex;
    flex-direction: row;
}

.l-col {
    flex-basis: 60%;
    max-width: 60%;
}

.r-col {
    flex-basis: 40%;
    max-width: 40%;
}

.r-col img {
    height: 60vh;
    margin-left: 10px;
}

@keyframes draw {
    0% {
        stroke-dashoffset: 100;
        stroke: rgb(255, 220, 25);
    }
    50% {
        stroke-dashoffset: 0;
        stroke: rgb(160, 14, 43);
    }
    100% {
        stroke-dashoffset: -100;
        stroke: rgb(255, 220, 25);
    }
}
/* ////////////////// POTATOHEAD ///////////////////// */

.section-3 .slide-3 ul {
    list-style: none;
}

.display-box {
    width: 450px;
    height: 300px;
    border: 5px solid #422040;
    border-radius: 25px;
    margin: auto;
    background-color: rgb(251, 165, 208);
}

.container {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-wrapper {
    width: 200px;
    height: 150px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* buttons */

.btn {
    height: 35px;
}

.btn button {
    background: none;
    border: none;
    width: 65px;
    height: auto;
    margin: 5px;
    opacity: .75;
}

.btn button:hover svg .d {
    fill: aqua;
}

/* svg */

.svg {
    width: 45%;
    height: auto;
    margin: auto;
    margin-top: 30px;
}

.svg .earL1, .earR1, .earL2, .earR2, .earL3, .earR3, .eyeL1, .eyeR1, .eyeL2, .eyeR2, .eyeL3, .eyeR3, .nose1, .nose2, .nose3, .mouth1, .mouth2, .mouth3, .hat1, .hat2, .hat3 {
    opacity: 0;
}

/* ////////////////// DROPPER ///////////////////// */

.board-container {
    position: absolute;
    border: 5px solid #422040;
    border-radius: 25px;
    width: 710px;
    height: 360px;
    overflow: hidden;
    bottom: 40px;
}

.board {
    display: flex;
    margin: auto;
    left: 0;
    right: 0;
    width: 700px;
    height: 350px;
    background-color: #e3d985;
    overflow: hidden;

}

.spout {
    position: relative;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 50px;
    background-color:#422040;
    z-index: 10000000;
    border-radius: 0 0 20px 20px;
} 

.board h1 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    font-size: 38px;
    color: #e3d985;
    padding-top: 10px;
    user-select: none;
}

.board h1:hover {
    color: #e57a44; 
}

.brick {
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 20px;
    animation: spin 2.5s normal;
} 

@keyframes spin {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* ////////////////// SLICK SLIDER ///////////////////// */

.slider-box {
    padding: 100px;
    background-color: #422040;
    border-radius: 25px;
}

.slider {
    margin: 60px auto;
    width: 500px;
}

.slick-slide img {
    width: 95%;
    height: auto;
}

/* Slick Arrows */

.slick-prev {
    top: 50%;
}

.slick-next {
    top: 50%;
}

.slick-prev {
    left: -4vw;
}

[dir='rtl'] .slick-prev {
    right: -4vw;
    left: auto;
}

.slick-prev:before {
    content: '←';
}

[dir='rtl'] .slick-prev:before {
    content: '→';
}

.slick-next {
    right: -4vw;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: -4vw;
}

.slick-next:before {
    content: '→';
}

[dir='rtl'] .slick-next:before {
    content: '←';
}

/* ////////////////// ACCORDION ///////////////////// */

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #000;
    background: #422040;
    font-weight: normal;
    color: #fff;
}

/* ////////////////// ARROWS ///////////////////// */

.fp-arrow {
    opacity: 0.5;
}


@media screen and (max-width:768px) {

    /* ////////////////// TYPOGRAPHY ///////////////////// */

    h2 {
        font-size: 60px; 
        width: fit-content;
        text-align: center;
    }

    h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    h4 {
        font-size: 15px;
        margin: 5px;
    }

    .two-col {
        flex-direction: column;
    }

    .l-col {
        flex-basis: 100%;
        max-width: 100%;
    }
    
    .r-col {
        display: none;
        flex-basis: 100%;
        max-width: 100%;
    }
    
    .r-col img {
        margin-left: 0px;
    }

    .section .slide .content-wrapper {
        display: flex;
        flex-direction: column;
        width: 70vw;
        height: 90vh;
        margin-top: 80px;
    }
    
    table, code {
        max-width: 80vw;
        overflow-x: scroll;
    }


    .board-container {
        width: 275px;
        height: 360px;
        bottom: 40px;
    }
    
    .board {
        width: 285px;
        height: 350px;
    }

    .container {
        flex-direction: column;
    }

    .display-box {
        width: 335px;
        padding: 1rem;
        margin: 0;
        transform: scale(0.65);

    }

    .flex-wrapper {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .svg {
        width: 100px;
    }
    
}