/* Coolors Exported Palette - https://coolors.co/bcd8c1-d6dbb2-e3d985-e57a44-422040 */

/* CSS HEX */
--cambridge-blue: #bcd8c1ff;
--pale-spring-bud: #d6dbb2ff;
--flax: #e3d985ff;
--mandarin: #e57a44ff;
--dark-purple: #422040ff;

/* CSS HSL */
--cambridge-blue: hsla(131, 26%, 79%, 1);
--pale-spring-bud: hsla(67, 36%, 78%, 1);
--flax: hsla(54, 63%, 71%, 1);
--mandarin: hsla(20, 76%, 58%, 1);
--dark-purple: hsla(304, 35%, 19%, 1);

/* SCSS HEX */
$cambridge-blue: #bcd8c1ff;
$pale-spring-bud: #d6dbb2ff;
$flax: #e3d985ff;
$mandarin: #e57a44ff;
$dark-purple: #422040ff;

/* SCSS HSL */
$cambridge-blue: hsla(131, 26%, 79%, 1);
$pale-spring-bud: hsla(67, 36%, 78%, 1);
$flax: hsla(54, 63%, 71%, 1);
$mandarin: hsla(20, 76%, 58%, 1);
$dark-purple: hsla(304, 35%, 19%, 1);

/* SCSS RGB */
$cambridge-blue: rgba(188, 216, 193, 1);
$pale-spring-bud: rgba(214, 219, 178, 1);
$flax: rgba(227, 217, 133, 1);
$mandarin: rgba(229, 122, 68, 1);
$dark-purple: rgba(66, 32, 64, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #bcd8c1ff, #d6dbb2ff, #e3d985ff, #e57a44ff, #422040ff);
$gradient-right: linear-gradient(90deg, #bcd8c1ff, #d6dbb2ff, #e3d985ff, #e57a44ff, #422040ff);
$gradient-bottom: linear-gradient(180deg, #bcd8c1ff, #d6dbb2ff, #e3d985ff, #e57a44ff, #422040ff);
$gradient-left: linear-gradient(270deg, #bcd8c1ff, #d6dbb2ff, #e3d985ff, #e57a44ff, #422040ff);
$gradient-top-right: linear-gradient(45deg, #bcd8c1ff, #d6dbb2ff, #e3d985ff, #e57a44ff, #422040ff);
$gradient-bottom-right: linear-gradient(135deg, #bcd8c1ff, #d6dbb2ff, #e3d985ff, #e57a44ff, #422040ff);
$gradient-top-left: linear-gradient(225deg, #bcd8c1ff, #d6dbb2ff, #e3d985ff, #e57a44ff, #422040ff);
$gradient-bottom-left: linear-gradient(315deg, #bcd8c1ff, #d6dbb2ff, #e3d985ff, #e57a44ff, #422040ff);
$gradient-radial: radial-gradient(#bcd8c1ff, #d6dbb2ff, #e3d985ff, #e57a44ff, #422040ff);